*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#d5006d;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#c4005f;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

.menu-btn{
  font-size:30px;
}

.hero{
  text-align:center;
  padding:80px 20px;
  background:#e1b100;
  color:#111;
}

.hero h1{
  font-size:42px;
  margin-bottom:10px;
}

.hero button{
  margin-top:20px;
  padding:15px 35px;
  border:none;
  border-radius:40px;
  background:#ff0077;
  color:white;
  font-size:18px;
}

.products{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  padding:20px;
}

.card{
  background:white;
  border-radius:20px;
  overflow:hidden;
  color:black;
}

.card img{
  width:100%;
  display:block;
}

.card h3{
  padding:15px;
}

.wa-button{
  position:fixed;
  right:20px;
  bottom:20px;
  background:#25d366;
  color:white;
  padding:15px 20px;
  border-radius:50px;
  text-decoration:none;
}
