*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.header{
    background:#111827;
    padding:20px;
    text-align:center;
    font-size:28px;
    font-weight:bold;
    position:sticky;
    top:0;
    z-index:100;
}

.container{
    padding:15px;
}

/* GAME LIST */

.game-item{
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    margin-bottom:20px;
    cursor:pointer;
    transition:0.3s;
    border:1px solid #334155;
}

.game-item:hover{
    transform:scale(1.02);
}

.game-item img{
    width:100%;
    height:180px;
    object-fit:cover;
    display:block;
}

.game-name{
    padding:15px;
    font-size:18px;
    font-weight:bold;
}

/* PAGE */

.diamond-page,
.payment-page,
.waiting-page{
    display:none;
}

/* BOX */

.box{
    background:#1e293b;
    padding:15px;
    border-radius:15px;
    margin-bottom:20px;
    border:1px solid #334155;
}

/* INPUT */

label{
    display:block;
    margin-bottom:6px;
    font-weight:bold;
}

input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
    background:#334155;
    color:white;
    font-size:15px;
}

input::placeholder{
    color:#cbd5e1;
}

/* WARNING */

.warning{
    background:#7f1d1d;
    padding:15px;
    border-radius:15px;
    margin-bottom:20px;
    color:#fecaca;
    border:1px solid #ef4444;
}

/* TITLE */

.section-title{
    font-size:20px;
    margin-bottom:15px;
    font-weight:bold;
}

/* DIAMOND */

.diamond-list{
    display:grid;
    gap:12px;
}

.diamond-item{
    background:#2563eb;
    padding:15px;
    border-radius:12px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.diamond-item:hover{
    background:#1d4ed8;
}

/* PAYMENT METHOD */

.method{
    background:#334155;
    padding:15px;
    border-radius:12px;
    margin-bottom:12px;
    cursor:pointer;
    transition:0.3s;
    text-align:center;
    font-weight:bold;
}

.method:hover{
    background:#475569;
}

/* BUTTON */

.pay-btn,
.back-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.pay-btn{
    background:#22c55e;
    color:white;
    margin-top:10px;
}

.pay-btn:hover{
    background:#16a34a;
}

.back-btn{
    background:#ef4444;
    color:white;
    margin-bottom:20px;
}

.back-btn:hover{
    background:#dc2626;
}

/* WAITING */

h3{
    margin-top:20px;
}

/* MOBILE */

@media(max-width:600px){

    .header{
        font-size:22px;
    }

    .game-item img{
        height:160px;
    }

    }
